html {
    box-sizing: border-box;
    

}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body{
    margin: 0;
    font-family: 'Barlow', sans-serif;
    
}
img {
    max-width: 100%;
    display: block;
}
.layout{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    
}
@media (min-width: 768px) { 

    .layout{
        width: 90%;
        max-width: 50rem;
    }
}
    