.menu{
    position: absolute;
    top: 5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0;
    margin: 3px solid rgb(32 194 128 / .6);
    
}
@media (min-width: 768px) { 
    .menu{
        display: none;
    }
}
.menu__ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    padding: 0;
    
}
.menu__ul__li{
    padding: 0.5rem 0;
  
  transition: background-color 0.2s ease-in;
}
.menu__ul__li:hover{
background-color: rgb(32 194 128 / .6);

}

